<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733723729452-oeosne58j6bsgj5se96u5nkm7tqbntr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733723729452-oeosne58j6bsgj5se96u5nkm7tqbntr8</string>
	<key>API_KEY</key>
	<string>AIzaSyCeNM-0e8qNUz21NGsgvVcIUrGupbV2uKw</string>
	<key>GCM_SENDER_ID</key>
	<string>733723729452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppylist</string>
	<key>PROJECT_ID</key>
	<string>feedback-shoppy</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-shoppy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733723729452:ios:9b3c612c02b82526dfbb89</string>
</dict>
</plist>